// global colors
$primary-color: #30e22a;
$secondary-color: #e7910f;
$text-color: #1b1b18;
$dark-background: #161615;
$light-background: #f5f5f5;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

ul {
    margin-left: 0;
    padding-left: 0;

    li {
        list-style: none;
        margin-left: 0;
    }
}

.bg-light {
    background-color: $light-background;
}

header {
    nav {
        .nav-link {
            text-transform: uppercase;
            color: $text-color;
            font-size: 1em;
            font-weight: 600;
            margin-left: 20px;

            &:hover {
                color: $secondary-color;
            }
        }

        .logo {
            font-size: 1.5em;
            font-weight: 600;
            text-transform: uppercase;
            color: $text-color;
        }
    }
}

.section-1 {

    .hero {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/images/hero.jpg');
        min-height: 800px;
        color: white;

        span {
            font-size: 1.5em;
            color: $secondary-color;
            font-weight: 600;
        }
    }

}

.btn-primary {
    background-color: $primary-color;
    border: 3px solid $primary-color;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;

    &:hover {
        background-color: $secondary-color;
        border: 3px solid $secondary-color;
    }
}

.btn-secondary {
    background-color: $secondary-color;
    border: 3px solid $secondary-color;
    padding: 10px 15px;
    border-radius: 5px;
    color: $text-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;

    &:hover {
        background-color: $primary-color;
        border: 3px solid $primary-color;
    }
}

.section-header {

    span {
        font-size: 1.5em;
        color: $secondary-color;
        font-weight: 600;
    }

}

.section-2 {
    img {
        border-radius: 40px;
    }

    span {
        font-size: 1.5em;
        color: $secondary-color;
        font-weight: 600;
    }

}

footer {
    background-color: $dark-background;
    color: aliceblue;

    h3 {
        color: $primary-color;
    }

    a {
        text-decoration: none;
        color: aliceblue;
        font-size: 1.2em;

    }

    ul {
        li {
            padding: 5px 0;
        }
    }
}

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: $primary-color;
    }
}

.section-3 {

    .item {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;

        &:hover {

            .service-body {
                transform: translateY(0%);

                .service-content {
                    opacity: 1;
                }
            }

        }

        .service-image {
            position: relative;
            overflow: hidden;
            border-radius: 20px;

            img {
                width: 100%;
                // height: 100%;
                border-radius: 40px;
                aspect-ratio: 1 / 1.2;
                object-fit: cover;
            }

            &:after {

                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border-radius: 40px;
                background: linear-gradient(180deg,
                        rgba(217, 217, 217, 0) 0%,
                        rgba(217, 217, 217, 0) 13.02%,
                        rgba(0, 0, 0, 0.51) 42.5%,
                        rgba(0, 0, 0, 0.63) 70%,
                        #000000 100%);


            }
        }

        .service-body {
            color: white;
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            transform: translateY(80%);
            transition: all 0.4s ease-in-out;

            .service-content {
                transition: all 0.4s ease-in-out;
                opacity: 0;
            }
        }
    }

}

.section-4 {
    .card {
        border-radius: 40px;
    }
}

.section-5 {
    .swiper {
        padding: 25px 25px 25px 25px;

        .swiper-pagination-bullet-active {
            background-color: $secondary-color;
        }
    }

    .card {
        border-radius: 40px;

        .card-body {
            .rating {
                color: $primary-color;
            }

            .content {
                p {
                    font-size: 1em;
                }

                .meta {
                    img {

                        border-radius: 50%;
                    }
                }

                .name {
                    font-size: 1.3em;
                    font-weight: 600;
                }
            }
        }
    }
}

.section-6 {
    .card {
        border-radius: 40px;

        img {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        .card-body {
            a.title {
                font-size: 1.5em;
            }

        }
    }
}

.section-7 {
       .hero {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/images/hero.jpg');
        min-height: 500px;
        color: white;

        span {
            font-size: 1.5em;
            color: $secondary-color;
            font-weight: 600;
        }
    }
}

.section-8{
    .card {
        border-radius: 40px;

        img {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        .card-body {
            a.title {
                font-size: 1.5em;
            }

        }
    }
}

.section-9{
    .card {
        border-radius: 40px;
        .card-body {
           
        }
    }
}

.dashboard{
    .card{
       min-height: 400px;
    }
}